body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
nav {
    margin-top: 15px;
}
nav a {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #594255;
    padding: 5px;
}
hr {
    margin: 50px 0;
}
.container {
    margin: 150px auto;
    max-width: 800px;
    box-sizing: border-box;
    padding: 20px;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #594255;
}
.container-main {
    flex-direction: column;
    padding: 0;
    background-color: #fff;
}
.item {
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 2px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;
    color: #594255;
}
.controls {
    background-color: white;
    width: 300px;
    padding: 20px;
    line-height: 150%;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
}
.btn {
    text-align: center;
    cursor: pointer;
    border: 0;
}
.btn-main {
    margin: 2px;
    line-height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;  
    display: inline-block;
    text-decoration: none;
}
.btn-purple {
    background-color: #594255;
    color: #ece1ea;
    box-shadow: 0 5px 0 #4b3748;
}
.btn-purple:hover {
    background-color: #4b3748;
    color: #ece1ea;
    box-shadow: 0 5px 0 #443041;
}
.btn-purple:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}