body {
    background-color: #F5F5F5;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
    margin: 50px 0;
}

.container {
    margin: 150px auto;
    max-width: 800px;
    box-sizing: border-box;
    padding: 20px;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    /* background-color: #594255; */
}
.btn {
    text-align: center;
    cursor: pointer;
    border: 0;
}
.btn-main {
    width: 760px;
    height: 100px;
    margin: 2px;
    line-height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 5em;  
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
.btn-purple {
    background-color: #594255;
    color: #ece1ea;
    box-shadow: 0 5px 0 #2c1128;
}
.btn-purple:hover {
    background-color: #2c1128;
    color: #ece1ea;
    box-shadow: 0 5px 0 #11060f;
}
.btn-purple:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}